<div *ngIf="dataMovieList">

    <mat-card-header class="flex-center-image">
        <mat-card-title>{{dataMovieList.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="flex-center-image">
            <img *ngIf="dataMovieList.images"
                 mat-card-image
                 appImageBroken
                 [customImg]="'./assets/images/Image_not_available.png'"
                 [src]="dataMovieList.images.jpg.image_url"
                 [alt]="dataMovieList.title">
        </div>

        <div *ngIf="dataMovieList.synopsis">
            <div *ngIf="!showMoreText">
                <div *ngIf="dataMovieList.synopsis">
                    <p><b>Synopsis: </b>{{dataMovieList.synopsis | slice:0:50}} ...</p>
                    <span class="show-more" (click)="showMore()">Show more</span>
                </div>
            </div>
            <div *ngIf="showMoreText">
                <div *ngIf="dataMovieList.synopsis">
                    <p><b>Synopsis: </b>{{dataMovieList.synopsis}} </p>
                    <span class="show-more" (click)="showMore()">Show less</span>
                </div>
            </div>
        </div>

    </mat-card-content>

    <mat-card-actions class="flex-center-image">

        <button mat-button color="accent" (click)="showInfoFullMovieList(dataMovieList)">Detalles</button>
        <button mat-button color="warn" (click)="goToMovieCharacters(dataMovieList)">Movie Characters</button>

    </mat-card-actions>
</div>

<div *ngIf="dataMoviesCharacters">

    <mat-card-header class="flex-center-image">
        <mat-card-title>{{dataMoviesCharacters.character.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="flex-center-image">
            <img *ngIf="dataMoviesCharacters.character.images"
                 mat-card-image
                 appImageBroken
                 [customImg]="'./assets/images/Image_not_available.png'"
                 [src]="dataMoviesCharacters.character.images.jpg.image_url"
                 [alt]="dataMoviesCharacters.character.name">
        </div>
    </mat-card-content>

    <mat-card-actions class="flex-center-image">

        <button mat-button color="accent" (click)="showInfoFullMoviesCharacters(dataMoviesCharacters)">Detalles</button>
        <button mat-button color="warn" (click)="goToCharactersDetail(dataMoviesCharacters.character.mal_id)">
            Character Detail
        </button>

    </mat-card-actions>

</div>

<div *ngIf="dataVoiceTab">

    <mat-card-header class="flex-center-image">
        <mat-card-title>Name: {{dataVoiceTab.person.name}}</mat-card-title>
    </mat-card-header>

    <div class="text-center mb-2">
        <img *ngIf="dataVoiceTab.person.images.jpg"
             mat-card-image
             appImageBroken
             [customImg]="'./assets/images/Image_not_available.png'"
             [src]="dataVoiceTab.person.images.jpg.image_url"
             [alt]="dataVoiceTab.person.name">
        <p>Name: {{dataVoiceTab.person.name}}</p>
        <p>Language: {{dataVoiceTab.language}}</p>
        <a [href]="dataVoiceTab.person.url" target="_blank">More Info</a>
    </div>

</div>

<div *ngIf="dataAnimeTab">

    <mat-card-header class="flex-center-image">
        <mat-card-title>Name: {{dataAnimeTab.anime.title}}</mat-card-title>
    </mat-card-header>

    <div class="text-center mb-2">
        <img *ngIf="dataAnimeTab.anime.images.jpg"
             mat-card-image
             appImageBroken
             [customImg]="'./assets/images/Image_not_available.png'"
             [src]="dataAnimeTab.anime.images.jpg.image_url"
             [alt]="dataAnimeTab.anime.title">
        <p>Role: {{dataAnimeTab.role}}</p>
        <a [href]="dataAnimeTab.anime.url" target="_blank">More Info</a>
    </div>


</div>

<div *ngIf="datamangaTab">

    <mat-card-header class="flex-center-image">
        <mat-card-title>Name: {{datamangaTab.manga.title}}</mat-card-title>
    </mat-card-header>

    <div class="text-center mb-2">
        <img *ngIf="datamangaTab.manga.images.jpg"
             mat-card-image
             appImageBroken
             [customImg]="'./assets/images/Image_not_available.png'"
             [src]="datamangaTab.manga.images.jpg.image_url"
             [alt]="datamangaTab.manga.title">
        <p>Role: {{datamangaTab.role}}</p>
        <a [href]="datamangaTab.manga.url" target="_blank">More Info</a>
    </div>

</div>
