a {
    color: #ff1493;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-a {
    display: grid;
    grid-template-columns: 90% 10%;
}

.show-more {
    color: #c2c2c2;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.mb-2 {
    margin-bottom: 15px;
}
