<div *ngIf="dataMovieList">

    <div class="container-dialog">
        <h2 class="center">Informacion</h2>
        <hr>
        <div class="text-center">
            <p><b>Title: </b>{{dataMovieList.title}}</p>
            <p><b>Duration: </b>{{dataMovieList.duration}}</p>
            <p><b>Year: </b>{{dataMovieList.year|date}}</p>
            <p><b>Synopsis: </b>{{dataMovieList.synopsis}}</p>

            <p><b>Duration: </b>{{dataMovieList.duration}}</p>
            <div>
                <p><b>Titles: </b></p>
                <ul *ngFor="let title of dataMovieList.titles">
                    <li> - {{title.type}}: {{title.title}}</li>
                </ul>
            </div>
            <p><b>Studio: </b></p>
            <div class="text-center">
                <mat-chip *ngFor="let studio of dataMovieList.studios">
                    <a [href]="studio.url" target="_blank">{{studio.name}}</a>
                </mat-chip>
            </div>

        </div>

        <div class="center">
            <button mat-button (click)="cerrar()" color="warn">Cerrar</button>
        </div>
    </div>

</div>

<div *ngIf="dataMovieCharacter">
    <div class="container-dialog">
        <h2 class="center">Informacion</h2>
        <hr>
        <div class="text-center">
            <p><b>Name: </b>{{dataMovieCharacter.name}}</p>
            <p><b>Kanji: </b>{{dataMovieCharacter.name_kanji}}</p>
            <p><b>About: </b>{{dataMovieCharacter.about}}</p>

            <div>
                <p><b>Nicknames: </b></p>
                <ul *ngFor="let nick of dataMovieCharacter.nicknames">
                    <li> - {{nick}}</li>
                </ul>
            </div>
        </div>

        <div class="center">
            <button mat-button (click)="cerrar()" color="warn">Cerrar</button>
        </div>
    </div>
</div>
