<div *ngIf="dataCharacterDetail">
    <mat-tab-group>

        <mat-tab label="Info">

            <div class="container-info">

                <div class="flex-center-image">
                    <img *ngIf="dataCharacterDetail.data.images"
                         mat-card-image
                         appImageBroken
                         [customImg]="'./assets/images/Image_not_available.png'"
                         [src]="dataCharacterDetail.data.images.jpg.image_url"
                         [alt]="dataCharacterDetail.data.name">
                </div>

                <div class="text-center">
                    <p><b>Name: </b>: {{dataCharacterDetail.data.name}}</p>
                    <p><b>Kanji: </b>: {{dataCharacterDetail.data.name_kanji}}</p>
                    <p><b>Nicknames: </b></p>
                    <ul *ngFor="let nick of dataCharacterDetail.data.nicknames">
                        <li>- {{nick}}</li>
                    </ul>

                    <p><b>About:</b></p>
                    <div *ngFor="let data of arrayDataAbout">
                        <p> - {{data}}</p>
                    </div>

                </div>

            </div>
        </mat-tab>

        <mat-tab label="Voices">

            <div class="container-flex">
                <mat-card class="card-main" *ngFor="let voice of dataCharacterDetail.data.voices">
                    <app-info-card [dataVoiceTab]="voice"></app-info-card>
                </mat-card>
            </div>

        </mat-tab>

        <mat-tab label="Anime">

            <div class="container-flex">
                <mat-card class="card-main" *ngFor="let anime of dataCharacterDetail.data.anime">
                    <app-info-card [dataAnimeTab]="anime"></app-info-card>
                </mat-card>
            </div>

        </mat-tab>

        <mat-tab label="Manga">

            <div class="container-flex">
                <mat-card class="card-main" *ngFor="let manga of dataCharacterDetail.data.manga">
                    <app-info-card [datamangaTab]="manga"></app-info-card>
                </mat-card>
            </div>

        </mat-tab>
    </mat-tab-group>

</div>
